
.about{
    display:grid;
    grid-template-columns: 10% 30% 50% 10%;
    grid-template-rows: 60vh auto auto;
    grid-template-areas: ". map map ."
    "team team team team"
    ". contact touch .";
}

.map {
    grid-area: map;
    display: flex;
    flex-direction: column;
    margin: 3% 0px 0px 0px;
    justify-content:center;
    align-items: center;
    border:0;
    width:100%;
    max-width: 1000px;
    justify-self: center;

}
.map .map-title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--color-secondary);
    align-self: flex-start ;
}
.about h1 {
    color:var(--color-secondary);
}

.map iframe {
    height:100%;
    width:100%;
    max-width: 1000px;
}

.team{
    grid-area:team;
    margin: 3vh 0px 6vh 0px;
    background-image: url(../../images/about.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.team p {
    font-size: 40px;
    font-weight: 600;
    margin-top:20px;
    color: var(--color-secondary);
}

.contact{
    grid-area:contact;
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin-bottom: 100px;
    margin-top: 0;
    justify-self:flex-start;
    align-self: flex-start;
    gap:5px;
}

.contact h1 {
    margin-bottom: 50px;
}
.contact p {
    font-size:15px;

}
.touch {
    grid-area: touch;
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin-bottom: 100px;
}

.touch form {
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    grid-template-areas: " label-1 input-1"
    "label-2 input-2";
    gap:20px;
    margin-top:50px;
}

.touch #email{
    grid-area: label-1;
}

.touch #msg{
    grid-area: label-2;
}

.touch .email{
    grid-area:input-1;
    font-size:20px;
    padding: 4px 0px 4px 3px;
    max-height: 50px;
    width: 35vw;
    max-width: 500px;
}

.touch .msg{
    grid-area:input-2;
    font-size:20px;
    padding: 4px 0px 4px 3px;
    width: 35vw;
    max-width: 500px;
    height:200px;
}

.btn1 {
    color: white;
    font-weight: 600;
    background-color:var(--color-secondary);
    outline:none;
    border:none;
    cursor: pointer;
    justify-self: center;
    border-radius:2px;
    padding:15px;
    grid-column: -2/-1;
    justify-self: flex-start;
    left:0;
    right:0;
}

.teams{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top:10px;
    gap:12vw;
}

.teams h2 {
    font-size:22px;
}
.teams p {
    font-size:17px;
    font-weight: 400;
    margin-top:8px;
    max-width: 250px;
}
.teams img {
    height: 70%;
    width: 250px;
    border-radius: 5px;
    border:1px solid black;
}

@media only screen and (max-width:1000px){
     .about {
         grid-template-columns: 5vw 90vw 5vw;
         grid-template-areas: ". map ."
         "team team team"
         ". touch ."
         ". contact .";

     }

     .teams{
        flex-direction: column;
        gap:10px;
        justify-content:center;
        align-items: center;
     }
     .teams img {
         height: 300px;
     }
}
@media only screen and (max-width:700px){

    .touch p {
        display:none;
    }

    .touch .email {
       width: 80vw;
    }

    .touch .msg {
        width: 80vw;
     }
}