@font-face {
  font-family: myfont;
  src: url('./fonts/KurriIslandPersonalLight-0Wlrv.ttf');
}
:root {
  --color-primary:#ECDBBA;
  --color-secondary:#C84B31;
  --color-bg-primary:#161616;
  --color-bg-secondary:#346751;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}

	
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
	
body, ul, ol, dl {
	margin: 0;
}
.app{
  display: grid;
  grid-template-rows: auto auto 20vh;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
  "content"
  "footer";
}

header{
  grid-area: header;
}

main{
  grid-area:content;
}

.footer{
  grid-area:footer;
  background:var(--color-bg-primary);
  bottom:0;
}

